body {
	margin: 0;
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
	background-color: lightblue;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	overflow: hidden;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
  cursor: pointer;
}

.sidebar {
	margin: 0;
	padding: 0;
/*	width: 250px;*/
	background-color: lightblue;
	border: thick black solid;
	position: fixed;
	height: 100%;
	overflow: auto;
}
.modal {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 45%;
	border: thick blue solid;
	padding-right: 10px;
	background-color: lightblue;
}

.bar {
	width: 100%;
	background-color: steelblue;
	padding: 1px;
	margin-right: 20px;

}

#composeWindow{
	z-index: 1;
}
.close-btn,.close-btn-reply {
	margin-left: 95%;
	color: red;
}
/*customizing the text editor*/
.ql-container {
	height: 140px;
	background-color: white;
}

#details input {
	width: 99%;
	padding: 5px;
	font-size: 14pt;
	margin-bottom: 2px;
	margin-right: 5px;
}

#details {
	padding: 5px;
}
.send {
	background-color: steelblue;
	float: right;
	padding: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
}

.save{
	background-color: steelblue;
/*	float: right;*/
	padding: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
}

.close-btn:hover, .close-btn:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.sidebar button {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
	width: 100%;
}
.sidebar button.active {
	background-color: #4CAF50;
	color: white;
}
.sidebar button:hover:not(.active) {
	background-color: #555;
	color: white;
}
div.content {
	margin-left: 250px;
/*	padding: 1px 16px;*/
	height: 1000px;
	border: thin black solid;
}

.count{
  background-color: #fa3e3e;
  border-radius: 3px;
  color: white;
  padding: 3px 3px;
  font-size: 10px;
  float:right;
}

.retract-mail-btn, .reply-to-mail-btn{
	background-color: steelblue;
	padding: 5px;
}
#tabcontentDisplayarea{
	border: thick black solid;
	background-color: white;
/*	height: 500px;*/
}

#signout{
	float: right;
	margin-top: 65px;
	margin-right: 10px;
	z-index: 1;
	position: relative;
	background-color: steelblue;
}

#signout:hover{
	background-color: #555;
	color: white;
}

@media screen and (max-width: 700px) {
.sidebar {
	width: 100%;
	height: auto;
	position: relative;
}
.sidebar button {
	float: left;
}
div.content {
	margin-left: 0;
}
	
#tabcontentDisplayarea{
	border: thick black solid;
	background-color: white;
	height: 700px;
}


body {
	margin: 0;
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
	background-color: lightblue;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	overflow: auto;
}
	
	
.modal, .replymodal {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 90%;
	border: thick blue solid;
	margin-left: 10px;
	margin-right: 10px;
}
	
.close-btn, .close-btn-reply {
	margin-left: 89%;
	color: red;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
}

@media screen and (max-width: 400px) {
.sidebar {
	width: 100%;
	height: auto;
	position: relative;
}
.sidebar button {
	float: left;
}
div.content {
	margin-left: 0;
}
	
#tabcontentDisplayarea{
	border: thick black solid;
	background-color: white;
	height: 700px;
	width: 100%;
}


body {
	margin: 0;
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
	background-color: lightblue;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	overflow: auto;
}
	
.displayHeadings{
	background-color: steelblue;
	padding: 10px;
	width:100%;
}	
	
.modal, .replymodal {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 90%;
	border: thick blue solid;
	margin-left: 10px;
	margin-right: 10px;
}
	
.close-btn, .close-btn-reply {
	margin-left: 89%;
	color: red;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}}
