body {
	margin: 0;
	font-family: "Lato", sans-serif;
	box-sizing: border-box;
	background-color: lightblue;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	overflow: hidden;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 0;
  cursor: pointer;
}

.sidebar .icon {
  display: none;
}

.sidebar {
	margin: 0;
	padding: 0;
/*	width: 250px;*/
	background-color: lightblue;
	border: thick black solid;
	position: fixed;
	height: 100%;
	overflow: auto;
}
.modal {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 45%;
	border: thick blue solid;
	padding-right: 10px;
	background-color: lightblue;
}

.bar {
	width: 100%;
	background-color: steelblue;
	padding: 1px;
	margin-right: 20px;

}

#composeWindow{
	z-index: 1;
}
.close-btn {
	margin-left: 95%;
	color: red;
}

.close-btn-reply {
	margin-left: 95%;
	color: red;
}

.close-btn:before{
	font-family: "Font Awesome 5 Free";
	content:'\f410';
}

.close-btn-reply:before{
	font-family: "Font Awesome 5 Free";
	content:'\f410';
}

/*customizing the text editor*/
.ql-container {
	height: 140px;
	background-color: white;
}

#details input {
	width: 99%;
	padding: 5px;
	font-size: 14pt;
	margin-bottom: 2px;
	margin-right: 5px;
}

#details {
	padding: 5px;
}
.send {
	background-color: steelblue;
	float: right;
	padding: 10px;
	margin-right: 5px;
	margin-bottom: 20px;
	font-size: 14pt;
	border-radius: 2px;
	line-height: 1.4em;
	border: none;
}

.send:hover{
	background-color: #555;
	color: white;
}

.message-compose{
	width: 98%;
	height: 150px;
	margin-left: 5px;
}

#dummygroups > div {
/*
	background-color: steelblue;
	width: 40%;
	margin: 5px;
	height: 50px;
	text-align: center;
	cursor: pointer;
*/grid-template-columns: auto;
	grid-gap: 5px;
	display: grid;
}

dummy-groups{
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0);
  padding: 10px;
  font-size: 30px;
	width: 90%;
}

#dummygroups > div:hover {
	background-color: #555;
}

.draftMail:hover{
	background-color: #555;
	color: white;
}

.sentMails:hover{
	background-color: #555;
	color: white;
}
.save{
	background-color: steelblue;
/*	float: right;*/
	padding: 10px;
	margin-left: 10px;
	margin-bottom: 20px;
	font-size: 14pt;
	border-radius: 2px;
	line-height: 1.4em;
	border: none;
}

.close-btn:hover, .close-btn:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.sidebar button {
	display: block;
	color: black;
	padding: 10px;
	text-decoration: none;
	width: 100%;
	font-size: 14pt;
	border-radius: 2px;
	line-height: 1.4em;
	border: none;
}
.sidebar button.active {
	background-color: #4CAF50;
	color: white;
}
.sidebar button:hover:not(.active) {
	background-color: #555;
	color: white;
}

#sidenav2{
	display: none;
}
div.content {
	margin-left: 250px;
	padding: 1px 16px;
	height: 1000px;
}

.count{
  background-color: #fa3e3e;
  border-radius: 3px;
  color: white;
  padding: 3px 3px;
  font-size: 10px;
  float:right;
}

.count-brown{
  background-color: #D36768;
  border-radius: 3px;
  color: white;
  padding: 3px 3px;
  font-size: 10px;
  float:right;
}

.retract-mail-btn, .reply-to-mail-btn{
	background-color: steelblue;
	padding: 10px;
	font-size: 14pt;
	border-radius: 2px;
	line-height: 1.4em;
	border: none;
}

.retract-mail-btn:hover, .reply-to-mail-btn:hover{
	background-color: #555;
	color: white;
	
}

#tabcontentDisplayarea{
	border: thick black solid;
	background-color: white;
/*	height: 500px;*/
}

#signout{
	float: right;
	margin-top: 40px;
	margin-right: 10px;
	z-index: 1;
	position: relative;
	background-color: steelblue;
	display: block;
	color: black;
	padding: 10px;
	text-decoration: none;
	font-size: 14pt;
	border-radius: 2px;
	line-height: 1.4em;
	border: none;
}

.receivedMails:hover{
	background-color: #555;
	color:white;
}

#signout:hover{
	background-color: #555;
	color: white;
}

#submit-btn{
	width: 15%;
	font-size: 10pt;
	padding: 0px;
	float:right;
/*	border-radius: 15px*/
}

#groupForm > input{
width:78%;
padding: 5px;
border-right: thin rgba(9,95,227,1.00) solid;
}

#createGroup{
	display: none;
}
.grid-container {
  display: grid;
  grid-template-columns: auto;
	grid-gap: 5px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0);
  padding: 10px;
  font-size: 30px;
}

.grid-item:hover{
	background-color: steelblue;
}

.grid-item.active{
	background-color: steelblue;
}

.fa-plus, .fa-minus, .fa-check{
	float: right;
}

.panel{
	background-color: white;
}

.active{
	background-color: steelblue;
}

#addUser{
	border-bottom: thick steelblue solid;
	display: flex;
}


.addUser-btn{
	background-color: steelblue;
	padding: 5px;
	width: 100%;
	text-align: left;
}

#addUser > button{
	background-color: steelblue;
	font-size: 14pt;
	border-radius: 2px;
	line-height: 1.4em;
	border: none;
	border: thin black solid;
	
}

#addUser > input {
/*	width: 93%;*/
	flex-grow: 8;
	padding: 5px;
	line-height: 1.4em;
	background-color: transparent;
	border: thin black solid;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 14pt;
}

@media screen and (max-width: 700px) {
.sidebar{
display:  none;
}


.sidebar button {
    float: left;
    display: block;
	margin:2px;
	font-size: 10pt;
}
	div.content {margin-left: 0;}
.sidebar.responsive {
	position: relative;
	display: block;
	border: none;
	}

  .sidebar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
	.sidebar.responsive button {
   width: 18%;
float: left;
		padding: 5px;
	}

	.sidebar.responsive button:after{
	}
	.count{
		display: none;
	}
.modal, .replymodal {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 90%;
	border: thick blue solid;
	margin-left: 10px;
	margin-right: 10px;
}
	#displayarea{
		margin-left: 10px;
	margin-right: 10px;
	}
	.mailbody, .mailId{
		display: none;
	}
	.pagination{
		float:none;
	}

	.grid-item{
/*		width: 95%;*/
		  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(0, 0, 0);
	}
	#addUser > input{
  width: 80%;
}

#addUser > button{
	float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #2196F3;
}
	#submit-btn{
		font-size: 9pt;
	}
}
