@charset "utf-8";
.sidebar button{
  margin-bottom: 5px;
  background-color: steelblue;
  width:250px
}

.mail {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}
.message {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;	
}

.check-box {
	float: left;
}

.mailId{
	float:left;
	margin-left: 5%;
}

.fa-refresh{
	margin-left: 2%;
	margin-right: 2%;
}

.fa-refresh:hover{
	color: red;
	cursor: pointer;
}

.fa-trash{
	margin-left: 2%;
	cursor: pointer;
}

.fa-trash:hover{
	border: thin lightblue solid;
	color: red;
}

.fa-arrow-circle-right:hover, .fa-arrow-circle-left:hover{
	color: red;
	cursor: pointer;
}
.title {
	float: left;
	margin-left: 20%;
}

.sendDate{
	float: right;
	margin-left: 2%;
}

.pagination {
	float: right;
}

.fa-arrow-circle-left, .fa-arrow-circle-right{
	margin-right: 5px;
}
.displayHeadings{
	background-color: steelblue;
	padding: 10px;
}
/*
.receivedMails span{
	float: none;
	
}
*/
#tabcontentDisplayarea{
	border: thick black solid;
	background-color: white;
}
